p{
    margin-bottom: 5px;
}

p a{
    color: black!important;
}

h2 p{
    font-size: 16px;
    font-weight: normal;
    color: #888;
}

.grayColor{
    color: #888!important;
}

.page-images{
    height: 83px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0 5px;
}
